.row .col{
    padding: 0px;
}
.grille{
    background-color: darkblue;
}
.margin-bottom{
    margin-bottom: 0px;
}
.rond{
    font-size: 400%;
    color: #f4f4f4;
    margin: auto;
}
.rondgrille{
    font-size: 400%;
    color: #ffffff;
    margin: auto;
}
.margin-auto{
    margin: auto;
}
.ui-shadow{
    text-shadow: 0px 0px 8px black;
}
#jeton {
    color : yellow;
}
.placerR{
    background-color: black;
    color: transparent;
    text-shadow: 0px 0px 4px rgba(255,0,0,0.9);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
}
.placerY{
    background-color: black;
    color: transparent;
    text-shadow: 0px 0px 4px rgba(255,255,0,0.9);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
}